html,
body {
    height: 100%;
}

.main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-name-group,
.answer-group {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 90%;
}

.team-name {
    font-size: 30px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
}

.team-name-input {
    width: 95%;
}

.login-button {
    width: 30%;
    margin-top: 20px;
    height: 40px;
}

.logout-button {
    margin-top: 50px;
    text-decoration: underline;
    border: 0;
    background: 0;
    padding: 0;
}

.logout-button:hover,
.logout-button:active {
    color: red;
}

.answer-button {
    width: 350px;
    height: 350px;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #f51a0a;
    border-radius: 50%;
    box-shadow: 0 9px #999;
    border: 0;
    outline: 0;
}

.answer-button:hover {
    background-color: #b31307
}

.answer-button:active {
    background-color: #b31307;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}